

<div class="background-picture-sign-up">
  <br>
    <br>
      <br>
        <br>
          <br>

<div class="margin-signup-center">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="signup-form-inputs">
          <h1 style="text-align: center; font-weight: bolder;">Sign up</h1>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: 'Email...',
                      input_html: { autocomplete: "email" }, required: true%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: 'Password',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" }, required: true %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: 'Password Confirmation',
                      input_html: { autocomplete: "new-password" }, required: true %>
          <%= f.input :location,
                       required: true, placeholder: "First half of postcode",
                       label: false %>
          <%= f.input :photo, as: :file, label: 'Upload a profile photo', required: true %>
          <%= f.button :submit, "Sign up", class: "submit-signup"%>
           <% end %>
        </div>
      </div>



</div>
