<div class="homepage_banner">
  <img src="https://images.unsplash.com/photo-1510172951991-856a654063f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="books-homepage">
  <div class="flex-right">
    <div class="banner-text">
      <h1>Share the stories</h1>
      <h1>you love.</h1>
    </div>
    <div class="carousel-container">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <%= image_tag "quote-icon.png",  alt: "Quote icon", id: "quote-image" %>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-text">
              <h2>All we have to decide is what to do with the time that is given us.</h2>
              <p>– The Fellowship of the Ring</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-text">
              <h2>It sounds plausible enough tonight, but wait until tomorrow. Wait for the common sense of the morning.</h2>
              <p>– The Time Machine</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-text">
              <h2>And now that you don't have to be perfect, you can be good.</h2>
              <p>– East of Eden</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_btns">
      <%= link_to "Find a Book",  books_path, class: "btn-salmon-outline btn-signup" %>
      <%= link_to "Add a Book",  new_book_path, class: "btn-salmon-outline btn-signup" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="about_cards row">
    <div class="col-sm-12 col-md-4 col-lg-4 flex-item">
      <div class="icon-card" style="text-align: left;">
        <%= image_tag "find-icon.png",  alt: "Find icon", id: "find-image" %>
        <h2>Find</h2>
        <p>Find a book and request to swap.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 flex-item">
      <div class="icon-card" style="text-align: left;">
        <%= image_tag "swap-icon.png",  alt: "Swap icon", id: "swap-image" %>
        <h2>Swap</h2>
        <p>Meet the owner and swap books.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 flex-item">
      <div class="icon-card" style="text-align: left;">
        <%= image_tag "book-icon.png",  alt: "Read icon", id: "read-image" %>
        <h2>Read</h2>
        <p>Sit back and enjoy your new book!</p>
      </div>
    </div>
  </div>
</div>
