<div class="container my-books-container">
  <h2><%= "My Books" %></h2>

  <% if @books.where(hidden: false).empty? %>
    <p>You haven't listed any books on Junto yet! Why not add one today?</p>
  <% else %>
    <p>Your books are live on Junto and ready to swap!</p>
  <% end %>

<%= link_to "Add a Book",  new_book_path, class: "btn-dark-green mb-4" %>


  <div class="cards">
    <% @books.where(hidden: false).each do |book| %>
      <div class="card">
        <% if book.photo.attached? %>
          <%= cl_image_tag book.photo.key, class: 'book-cover' %>
        <% else %>
          <%= image_tag "https://i.imgur.com/sJ3CT4V.gif", class: 'book-cover' %>
        <% end %>
          <div class="card-items">
            <h2><%= "#{book.title}" %></h2>
            <p id="author"><%= author_cleaning(book.author_name) %></p>
          </div>
          <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary bottom-right" %>
      </div>
    <% end %>
  </div>

</div>
