<div class="container">
  <div class="swaps-box">
    <div class="flex-title-swaps">
      <h2 class="swaps-title">My Swaps </h2>
      <%= link_to "Choose another book", books_path, class: "btn-salmon" %>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
           <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Complete</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="pending-swaps">
              <% if @swaps.where.not(status: 'complete', rejected: true).empty? %>
                <p>You have no pending swaps!</p>
                <%= link_to "Find a Book", books_path, class: "btn-salmon" %>
              <% end %>

              <% @swaps.each do |swap| %>

                <% if swap.giving_user == current_user && swap.status == 'pending' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.receiving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4><%= "New request received from #{swap.receiving_user.first_name.capitalize}" %></h4>
                        <p><%= "Book #{swap.receiving_user.first_name.capitalize} would like: #{swap.book_given.title}, #{swap.book_given.year}" %></p>
                        <p><%= "#{swap.receiving_user.first_name.capitalize}'s Location: #{swap.giving_user.location}" %></p>
                        <p><%= "Choose one of #{swap.receiving_user.first_name.capitalize}'s books or reject the request:" %></p>
                        <%= link_to "Choose a Book", choose_book_swap_path(swap), class: "btn-salmon" %>
                        <%= link_to "Reject Request", reject_swap_path(swap), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn-salmon" %>
                      </div>
                    </div>
                  </div>
                <% end %>


                <% if swap.receiving_user == current_user && swap.status == 'pending' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.giving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4><%= "Request sent to #{swap.giving_user.first_name.capitalize}" %></h4>
                        <p><%= "Book you would like: #{swap.book_given.title}, #{swap.book_given.year}" %></p>
                        <p><%= "#{swap.giving_user.first_name.capitalize}'s Location: #{swap.giving_user.location}" %></p>
                        <p><%= "Waiting for #{swap.giving_user.first_name.capitalize} to approve your request" %></p>
                        <%= link_to "Cancel Request", swap_path(swap), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-salmon" %>
                      </div>
                    </div>
                  </div>
                <% end %>


                <% if swap.giving_user == current_user && swap.status == 'bookchosen' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.giving_user.photo.key, class: 'card-avatar' %>
                      <%= cl_image_tag swap.book_received.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.receiving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4><%= "You accepted #{swap.receiving_user.first_name.capitalize}'s request!" %></h4>
                        <p><%= "Book #{swap.receiving_user.first_name.capitalize} would like: #{swap.book_given.title}, #{swap.book_given.year}" %></p>
                        <p><%= "Book you would like: #{swap.book_received.title}, #{swap.book_received.year}" %></p>
                        <p><%= "#{swap.receiving_user.first_name.capitalize}'s Location: #{swap.receiving_user.location}" %></p>
                        <p><%= "Chat with #{swap.receiving_user.first_name.capitalize} to arrange a time and place to swap" %></p>
                        <p>Remember to follow the safety guidelines</p>
                        <%= link_to "Messages", chatroom_swap_path(swap), class: "btn-salmon" %>
                        <%= link_to "Swap Complete", complete_swap_path(swap), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn-salmon" %>
                      </div>
                    </div>
                  </div>
                <% end %>


                <% if swap.receiving_user == current_user && swap.status == 'bookchosen' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.giving_user.photo.key, class: 'card-avatar' %>
                      <%= cl_image_tag swap.book_received.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.receiving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4><%= "#{swap.giving_user.first_name.capitalize} accpted your request!" %></h4>
                        <p><%= "Book you would like: #{swap.book_given.title}, #{swap.book_given.year}" %></p>
                        <p><%= "Book #{swap.giving_user.first_name.capitalize} would like: #{swap.book_received.title}, #{swap.book_received.year}" %></p>
                        <p><%= "#{swap.giving_user.first_name.capitalize}'s Location: #{swap.giving_user.location}" %></p>
                        <p><%= "Great news, #{swap.giving_user.first_name.capitalize} has approved your request and chosen one of your books!" %></p>
                        <p><%= "Chat with #{swap.giving_user.first_name.capitalize} to arrange a time and place to swap" %></p>
                        <p>Remember to follow the safety guidelines</p>
                        <%= link_to "Messages", chatroom_swap_path(swap), class: "btn-salmon" %>
                        <%= link_to "Swap Complete", complete_swap_path(swap), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn-salmon" %>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>
          <div class="icon-with-text tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="complete-swaps">
              <% if @swaps.where(status: 'complete', status: 'rejected').empty? %>
                <p>You have no completed swaps!</p>
              <% end %>

              <% @swaps.each do |swap| %>

                <% if (swap.giving_user == current_user || swap.receiving_user == current_user) && swap.status == 'complete' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_received.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.receiving_user.photo.key, class: 'card-avatar' %>
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.giving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4>Swap Complete</h4>
                        <p><%= "#{swap.receiving_user.first_name.capitalize} gave: #{swap.book_received.title}, #{swap.book_received.year}" %></p>
                        <p><%= "#{swap.giving_user.first_name.capitalize} gave: #{swap.book_given.title}, #{swap.book_given.year}" %></p>
                      </div>
                    </div>
                  </div>
                <% end %>


                <% if swap.giving_user == current_user && swap.status == 'rejected' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.receiving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4>Swap Rejected</h4>
                        <p><%= "We've notified #{swap.receiving_user.first_name.capitalize} that you rejected their request for #{swap.book_given.title}, #{swap.book_given.year}." %></p>
                      </div>
                    </div>
                  </div>
                <% end %>


                <% if swap.receiving_user == current_user && swap.status == 'rejected' %>
                  <div class="bookswap-card d-flex">
                    <div class="d-flex">
                      <%= cl_image_tag swap.book_given.photo.key, class: 'book-cover' %>
                      <%= cl_image_tag swap.giving_user.photo.key, class: 'card-avatar' %>
                      <div class="bookswap-card-info">
                        <h4>Swap Rejected</h4>
                        <p><%= "Sorry, #{swap.giving_user.first_name.capitalize} rejected your request for #{swap.book_given.title}, #{swap.book_given.year}. Browse for a different book." %></p>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

