<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="swaps-requested">
        <h2>Pending Swaps</h2>
        <% @swaps.each do |swap| %>
          <h3><strong><%= swap.book_given.title %></strong></h3>
          <p><%= swap.book_given.year %></p>
          <p><%= swap.book_given.description %></p>
          <p><%= link_to "Messages", chatroom_swap_path(swap) %></p>
        <% end %>
      </div>

      <div class="swaps-completed">
        <h2>Completed Swaps</h2>
        <% @swaps.where(:complete => true).each do |swap| %>
          <h3><strong><%= swap.book_given.title %></strong></h3>
          <p><%= swap.book_given.year %></p>
          <p><%= swap.book_given.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
