<div class="container">
  <div class="book_to_confirm">
    <h2>Is this your book?</h2>
    <div class="card-confirmation">
      <% if @book.photo.attached? %>
        <%= image_tag @book.photo.service_url, alt: "book cover", class: 'confirmation-book-cover' %>
      <% else %>
        <%= image_tag "https://i.imgur.com/sJ3CT4V.gif", class: 'confirmation-book-cover' %>
      <% end %>
      <div class="card-confirmation-items">
        <p id="title"><%= "#{@book.title}" %></h2>
        <p id="author"><%= author_cleaning(@book.author_name) %></p>
        <p id="year"><%= @book.year %>, <%= @book.genre %></p>
        <p id="description"><%= @book.description.truncate(250) %></p>
      </div>
    </div>
    <div class="confirmation-buttons">
        <!--- need to add a link_to above that links author's name to the author show page --->
      <%= link_to 'Add Book', book_path(@book), class: "btn-salmon"  %>
      <%= link_to 'Cancel', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-salmon-outline"  %>
    </div>
  </div>
</div>





