<div class="banner-index">
  <div class="container">
    <div class="row banner-contents">

      <div class="col-lg-12 col-md-8 col-xs-4">
        <div class="text-container box">
          <h1>Find your next book...</h1>
          <p>Search by title, author, genre...</p>
          <%= form_tag books_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a book"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="filter-bar">
      <h3>Filter</h3>
      <div class="dropdown">
        <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= params[:filter].present? ? params[:filter] : 'Genre' %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Action', books_path(query: params[:query], filter: 'Action'), class: "dropdown-item"  %>
          <%= link_to 'Adventure', books_path(query: params[:query], filter: 'Adventure'), class: "dropdown-item"  %>
          <%= link_to 'Classic', books_path(query: params[:query], filter: 'Classic'), class: "dropdown-item"  %>
          <%= link_to 'Thriller', books_path(query: params[:query], filter: 'Thriller'), class: "dropdown-item"  %>
          <%= link_to 'Fantasy', books_path(query: params[:query], filter: 'Fantasy'), class: "dropdown-item"  %>
          <%= link_to 'Non-Fiction', books_path(query: params[:query], filter: 'Non-Fiction'), class: "dropdown-item"  %>
         <!--  ["Humour", "Non-fiction", "Fantasy", "Drama", "Romance", "Crime", "Action", "Thriller", "Poetry", "Science fiction", "Historical fiction", "Political fiction"] -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @books.where(:hidden => false).where.not(:user_id => current_user.id).each do |book| %>
      <div class="card">
        <% if book.photo.attached? %>
          <%= cl_image_tag book.photo.key, class: 'book-cover' %>
        <% else %>
          <%= image_tag "https://i.imgur.com/sJ3CT4V.gif", class: 'book-cover' %>
        <% end %>
        <!-- <img src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1540461189/content-items/002/573/821/WEB_Abbati_Jansson.Illibrodellestate-original.jpg?1540461189" alt="book cover" class="book_cover"> -->
        <div class="card-items">
          <h2><%= "#{book.title}" %></h2>
          <p id="author"><%= author_cleaning(book.author_name) %></p>
          <!--- need to add a link_to above that links author's name to the author show page --->
        </div>
        <%= image_tag "#{book.user.avatar}", class: "card-avatar"%>
        <!-- <img src="https://wallpaperaccess.com/full/1278457.jpg" alt="profile picture" class="card-avatar"> -->
        <%= link_to "Choose", book_path(book), class: "btn btn-primary bottom-right" %>
      </div>
    <% end %>
  </div>
</div>
