<div class="book-show-page-div">
<!--   <div class="row"> -->
    <%= render "book-3d" %>
<!--   </div> -->
  <div class="fixed-bottom-card">
    <%= cl_image_tag "#{@book.user.photo.key}", class: "avatarcard"%>
    <div class="map-text mapclass">
      <h2 class="text-center"><%= @book.user.first_name %> <%= @book.user.last_name %></h2>
      <h3 class="text-center"><%= @book.user.location %> </h3>
    </div>

    <div class="mapbox-style mt-5">
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <%= simple_form_for [@book, Swap.new], html: { class: 'form-class' } do |f| %>
      <%= f.submit "Swap", class: "small-width-button" %>
    <% end %>
    <%= link_to "Find another book", books_path, class: "find-another" %>
  </div>
</div>






