



<div class="login-page">
  <div class="row" style="margin-right: 60px; margin-left: 170px;">
    <div class="col-lg-5 login-h1-tag" style="margin-left: 20px;">
      <h1>Hello,</h1>
      <h1>welcome back!</h1>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <div class="login-form-position">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="login-form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn-salmon btn-block"%>
          </div>
        <% end %>
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
