<div class="banner-index">
  <div class="row banner-contents">

    <div class="col-xs-0 col-md-6 col-lg-6">
      <div class="text-container">
        <br>
        <br>
        <br>

        <h1>Discover your next book club...</h1>
        <p>Search by location, genre...</p>
      </div>
    </div>

      <div class="col-xs-12 col-md-6 col-lg-6 justify-content-center form-container">
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @bookclubs.each do |bookclub| %>
      <%= link_to(bookclub_path(bookclub), class: "card-links") do %>
        <div>

          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <div class="card-design">
                  <h2>Name: <%= "#{bookclub.name}" %></h2>
                  <p>Genre: <%= "#{bookclub.genre}" %></p>
                  <p>Capacity: <%= "#{bookclub.capacity}" %></p>
                  <p><%= "#{bookclub.location}" %></p>
                  <p>Description: <%= "#{bookclub.description}" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


