<div class="banner-index">
  <div class="row banner-contents">

    <div class="col-xs-0 col-md-6 col-lg-6">
      <div class="text-container">
        <br>
        <br>
        <br>

        <h1>Discover your next book club...</h1>
        <p>Search by location, genre...</p>
      </div>
    </div>

      <div class="col-xs-12 col-md-6 col-lg-6 justify-content-center form-container">
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @bookclubs.each do |bookclub| %>
      <%= link_to(bookclub_path(bookclub), class: "card-links") do %>
        <div>
          <h2><%= "#{bookclub.name}" %></h2>
          <p><%= "#{bookclub.genre}" %></p>
          <p><%= "#{bookclub.capacity}" %></p>
          <p><%= "#{bookclub.location}" %></p>
          <p><%= "#{bookclub.description}" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
