<div class="books-banner-contents">
  <h1><%= "#{@bookclub.name}" %></h1>
  <h2><%= @bookclub.genre %></h2>
  <p><%= @bookclub.location %></p>
  <p><%= @bookclub.description %></p>
</div>

<%= link_to "Back to Book Clubs", bookclubs_path %>
