<div class="all-messages-container">
  <div class="message-recipient ">
    <%= cl_image_tag @other_user.photo.key, alt: "alttext", class: "message-avatar" %>
    <p class="m-0 ml-3"><%= @other_user.first_name + " " + @other_user.last_name %></p>
  </div>
  <div id="messages" data-chatroom-id="<%= @swap.id %>">
    <% @swap.messages.each do |message| %>
      <div class="message-container <%= message.user_id == current_user.id ? 'my-message' : 'their-message' %>">
        <p><%= message.content %></p>
        <i class="author">
          <small class="time-right"><%= message.created_at.strftime("%H:%M") %></small>
        </i>
      </div>
    <% end %>
  </div>
  <div class="message-box">
    <%= simple_form_for [ @swap, @message ], url: swap_messages_path(swap_id: @swap.id), remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message", class: "type-space-message" %>
      <%= f.submit class: "btn-salmon btn-send", value: "Send" %>
    <% end %>
  </div>
  <%= link_to "Back to my swaps",  my_swaps_path, class: "btn-salmon-outline btn-back" %>
</div>
