<div class="container">
  <h2><%= "#{@user.first_name}'s Books" %></h2>

  <p>Choose a book to complete the switch!</p>


  <div class="cards">
    <% @books.where(:hidden => false).each do |book| %>
      <div class="card">
        <% if book.photo.attached? %>
          <%= cl_image_tag book.photo.key, class: 'book-cover' %>
        <% else %>
          <%= image_tag "https://i.imgur.com/sJ3CT4V.gif", class: 'book-cover' %>
        <% end %>
          <div class="card-items">
            <h2><%= "#{book.title}" %></h2>
            <p id="author"><%= author_cleaning(book.author_name) %></p>
          </div>
          <%= cl_image_tag book.user.photo.key, class: 'card-avatar' %>
          <%= link_to "Choose", book_chosen_swap_path(@swap, book_id: book.id), method: :patch, class: "btn-salmon" %>
      </div>
    <% end %>
  </div>

</div>
